<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mobile Price Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

      
        <div class="container bg-light text-black" class="border border-light" class="rounded" style="padding:30px; margin: 20px; margin-left: 0px; margin-right: 0px;">
            <h2>A Mobile Price Prediction System</h2>
        </div>
        <div>{%if price%}
          <b>predicted price for the entered details:
          {{price}}</b>
          <br>
          {%endif%}
          <br>
          <h3>Enter new details:</h3><br>
        </div>
        
    <form action=" " method="POST">

        {% csrf_token %}

        <div class="form-group">
          <label for="overs">battery_power:</label>
          <input type="text" class="form-control" placeholder="Enter Battery Power(in mAH)" name="battery_power">
        </div>

        <div class="form-group">
            <label for="overs">blue:</label>
            <input type="text" class="form-control" placeholder="Has Bluetooth?(1: Yes, 0: No)" name="blue">
        </div>

        <div class="form-group">
            <label for="overs">clock_speed:</label>
            <input type="text" class="form-control" placeholder="Enter Clock Speed Of Microprocessor" name="clock_speed">
        </div>

        <div class="form-group">
            <label for="overs">dual_sim:</label>
            <input type="text" class="form-control" placeholder="Has Dual Sim?(1: Yes, 0: No)" name="dual_sim">
          </div>

          <div class="form-group">
            <label for="overs">fc:</label>
            <input type="text" class="form-control" placeholder="Enter Front Camera MegaPixels" name="fc">
          </div>
          <div class="form-group">
            <label for="overs">four_g:</label>
            <input type="text" class="form-control" placeholder="Has 4G?(1: Yes, 0: No)" name="four_g">
          </div>
  
          <div class="form-group">
              <label for="overs">int_memory:</label>
              <input type="text" class="form-control" placeholder="Enter Internal Memory(in Gigabytes)" name="int_memory">
          </div>
  
          <div class="form-group">
              <label for="overs">m_dep:</label>
              <input type="text" class="form-control" placeholder="Enter Mobile Depth(in cm)" name="m_dep">
          </div>
  
          <div class="form-group">
              <label for="overs">mobile_wt:</label>
              <input type="text" class="form-control" placeholder="Enter Mobile Weight" name="mobile_wt">
            </div>
  
            <div class="form-group">
              <label for="overs">n_cores:</label>
              <input type="text" class="form-control" placeholder="Enter No of Cores of Processors" name="n_cores">
            </div>
            <div class="form-group">
              <label for="overs">pc:</label>
              <input type="text" class="form-control" placeholder="Enter Primary Camera MegaPixels" name="pc">
            </div>
    
            <div class="form-group">
                <label for="overs">px_height:</label>
                <input type="text" class="form-control" placeholder="Enter Pixel Resolution Height" name="px_height">
            </div>
    
            <div class="form-group">
                <label for="overs">px_width:</label>
                <input type="text" class="form-control" placeholder="Enter Pixel Resolution Width" name="px_width">
            </div>
    
            <div class="form-group">
                <label for="overs">ram:</label>
                <input type="text" class="form-control" placeholder="Enter RAM Size in Megabytes" name="ram">
              </div>
    
              <div class="form-group">
                <label for="overs">sc_h:</label>
                <input type="text" class="form-control" placeholder="Enter Screen Height(in cm)" name="sc_h">
              </div>
              <div class="form-group">
                <label for="overs">sc_w:</label>
                <input type="text" class="form-control" placeholder="Enter Screen Width(in cm)" name="sc_w">
              </div>
      
              <div class="form-group">
                  <label for="overs">talk_time:</label>
                  <input type="text" class="form-control" placeholder="Enter Talktime" name="talk_time">
              </div>
      
              <div class="form-group">
                  <label for="overs">three_g:</label>
                  <input type="text" class="form-control" placeholder="Has 3G?(1: Yes, 0: No)" name="three_g">
              </div>
      
              <div class="form-group">
                  <label for="overs">touch_screen:</label>
                  <input type="text" class="form-control" placeholder="Has Touch Screen?(1: Yes, 0: No)" name="touch_screen">
                </div>
      
                <div class="form-group">
                  <label for="overs">wifi:</label>
                  <input type="text" class="form-control" placeholder="Has WiFi?(1: Yes, 0: No)" name="wifi">
                </div>

        <button type="submit" class="btn btn-outline-dark">Predict Price</button>
      </form>

      
      </div>
</body>
</html>
